# LISTS => ORDERED, MUTABLE, DUPLICATES

In [2]:
list1 =[1, 3, 4.9, "name", 3]

In [3]:
print(type(list1))

<class 'list'>

#### Accessing Values

In [4]:
print(list1[3])

name

In [5]:
list1[1:3]

[3, 4.9]

In [6]:
list1[::-1]

[3, 'name', 4.9, 3, 1]

#### Adding Elements

In [7]:
# list = list + [item]

# append() => quick way of adding values at the end of a list

In [59]:

list1 = list1 + ["how", "are", 7, "you"]

list1

['one', 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9, 'how', 'are', 7, 'you']

In [63]:
In[59]

'list1 = list1 + ["how", "are", 7, "you"]\n\nlist1'

In [71]:

list1.append(6)
list1

['one',
 3,
 4.9,
 3,
 'how',
 'are',
 7,
 'you',
 3.9,
 'how',
 'are',
 7,
 'you',
 3.9,
 3.9,
 3.9,
 6,
 6]

#### Removing Elements

In [10]:
# Deleting Specific element =>> del list[index]
# Deleting Wholelist =>> del list

In [11]:
# Delete name(index 3)

del list1[3]

In [12]:
list1

[1, 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9]

#### Copy Function => copy()

In [77]:
list1= list1[0:7]
list1

['one', 3, 4.9, 3, 'how', 'are', 7]

In [78]:
list2=list1
list2

['one', 3, 4.9, 3, 'how', 'are', 7]

In [79]:
list2[0] = 1
list2

[1, 3, 4.9, 3, 'how', 'are', 7]

In [80]:
list1

[1, 3, 4.9, 3, 'how', 'are', 7]

In [82]:
list3 = list2.copy()

list3[-1]='seven'

In [83]:
print(list3)

[1, 3, 4.9, 3, 'how', 'are', 'seven']

In [84]:
list2

[1, 3, 4.9, 3, 'how', 'are', 7]

In [85]:
list1

[1, 3, 4.9, 3, 'how', 'are', 7]

In [14]:

list2[2] = "four point nine"

list2

[1, 3, 'four point nine', 3, 'how', 'are', 7, 'you', 3.9]

In [15]:
list1

[1, 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9]

In [16]:
list3 = list1

list3[0] = "one"

list3

['one', 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9]

In [17]:
list1

['one', 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9]

#### Slicing a List

In [86]:
name = "Sheilla Kemboi"

name[0:7]

'Sheilla'

In [18]:
list4 = list1[0:5]

list4

['one', 3, 4.9, 3, 'how']

In [19]:
list4[4] = 4.4

list4

['one', 3, 4.9, 3, 4.4]

In [20]:
list1

['one', 3, 4.9, 3, 'how', 'are', 7, 'you', 3.9]

### OTHER FUNCTIONS IN LISTS

In [21]:
# clear() =>Removes All items in a list

In [22]:
# pop() => Removes and returns item at index (default last)

In [23]:
# reverse() => Reverses a list 
# list[::-1]

In [89]:
names =['abs','cat','dog','mon']
names.pop()

'mon'

names

In [91]:
names.pop(1)

'cat'

In [24]:
list5 = [i**2 for i in range(10)]

list5

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# TUPLES => ORDERED, IMMUTABLE, DUPLICATES

In [92]:
tuple1 = (1, 3, 4.9, "name", 3)

In [93]:
print(type(tuple1))

<class 'tuple'>

#### Accessing Values

In [94]:
print(tuple1[2])

4.9

#### Adding Elemnts

In [28]:
# Values cannot be added to a tuple
# instead :: new tuple = tuple1 + tuple2

In [95]:
tuple2 = ("a", "b", 45)

tuple3 = tuple1 + tuple2

In [98]:
tuple3+=tuple2
tuple3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45, 'a', 'b', 45, 'a', 'b', 45)

In [99]:
del tuple3

#### Removing Elements

In [31]:
# Delete The Whole Tuple=>> del tuple

# SETS => UNORDERED, ADDABLE/REMOVABLE, NO DUPLICATES

In [100]:
set1 = {1, 3, 4.9, "name", 3,'name'}

In [101]:
print(set1)

{1, 3, 4.9, 'name'}

In [34]:
print(type(set1))

<class 'set'>

#### Accessing Values

In [103]:
print('e' in set1)

False

#### Adding Values

In [36]:
# add() => adds one element
# update() =>adds more elements

In [37]:
set1.add(56)

In [38]:
set1

{1, 3, 4.9, 56, 'name'}

In [39]:
set1.update({23, "game", 1})

In [40]:
set1

{1, 23, 3, 4.9, 56, 'game', 'name'}

#### Removing Elements

In [41]:
# Deleting Specific Element =>> set.remove(item)
# Deleting The Whole Set =>>del set

In [42]:
# delete name

set1.remove("name")

In [43]:
set1

{1, 23, 3, 4.9, 56, 'game'}

### OTHER FUNCTIONS IN SET

In [44]:
#

In [45]:
set2 = {i**2 for i in range(2,20,3)}

set2

{4, 25, 64, 121, 196, 289}

# DICTIONARY => UNORDERED, MUTABLE, NO DUPLICATE

In [46]:
dict1 = {1:"one", 2:"two", "three":3, "four":4}

In [107]:
words ='hello'
num = 'goodo'
dd = {name:nums for name in words for nums in num}

In [108]:
dd

{'h': 'o', 'e': 'o', 'l': 'o', 'o': 'o'}

In [47]:
print(type(dict1))

<class 'dict'>

#### Accessing Values

In [48]:
print(dict1["four"])

4

#### Adding Values

In [49]:
# dict[key] = new value
# dict[new key] = new value

In [50]:
dict1["new key"] = "new value"

In [109]:
dict1

{1: 'one', 2: 'two', 'three': 3, 'new key': 'new value'}

In [110]:
dict1['key']= 'new value'

In [111]:
dict1

{1: 'one', 2: 'two', 'three': 3, 'new key': 'new value', 'key': 'new value'}

In [112]:
dict1['key']= 'new'

In [113]:
dict1

{1: 'one', 2: 'two', 'three': 3, 'new key': 'new value', 'key': 'new'}

#### Removing Elements

In [52]:
# Deleting A Specific Element =>> del dict[value]
# Deleting Whole Dictionary =>> del dict

In [114]:
# delete value whose keyis four

del dict1["key"]

In [115]:
dict1

{1: 'one', 2: 'two', 'three': 3, 'new key': 'new value'}

### OTHER FUNCTIONS IN DICTIONARY

In [55]:
# dict1.

In [56]:
# items() => returns all the items in a dictionary

In [116]:
dict1.items()

dict_items([(1, 'one'), (2, 'two'), ('three', 3), ('new key', 'new value')])

# EXERCISE

""" You are a teacher and you have student records containing id of a student and marks lidt in each 
        subject where different students have taken different no.of subjects.
        All these records are inhard copy .
        You want to enter all the data in computer and want to compute marks of each student and display """

In [117]:
# function to collect data from user

def getData():
    
    D = {}
    
    while True:
        student_id = input("Enter student id ::")
        marks_list = input("Enter marks by csv :: ")
        more_students = input("Enter \"no\" to quit insertion :: ")
        
        if student_id in D:
            print(student_id, " is already inserted")
        else:
            D[student_id] = marks_list.split(",")
        
        if more_students.lower() == "no":
            return D

In [58]:
student_data = getData()

KeyboardInterrupt: Interrupted by user

In [ ]:
student_data

In [ ]:
def getAvg(D):
    avgMarks = {}
    for i in D:
        L = D[i]
        sum = 0
        for marks in L:
            sum += int(marks)
        avgMarks[i] = sum / len(L)
    return avgMarks

In [ ]:
student_data

In [ ]:
avg = getAvg(student_data)

In [ ]:
avg

In [ ]:
for i in avg:
    print("Student : ", i, " got average mark of : ", int(avg[i]))