# Displaying Hello World

In [1]:
print("Hello World !")

Hello World !

# Variables And Operators

In [3]:
num1 = 34
num2 = 78
sum = num1 + num2
num1 = 67
print(num1)
print(num2)
print(sum)

%whos

67
78
112
Variable   Type    Data/Info
----------------------------
num1       int     67
num2       int     78
sum        int     112

In [4]:
print typeof(sum)

SyntaxError: invalid syntax (Temp/ipykernel_344/1575650200.py, line 1)

In [5]:
print ( type(sum))

<class 'int'>

In [6]:
name1 = "Sheilla"
name2 = "Kemboi"

print(name1 + name2)

SheillaKemboi

In [7]:
print(name1 , " ", + , " " , name2)

SyntaxError: invalid syntax (Temp/ipykernel_344/3004786597.py, line 1)

In [8]:
print(name1 + name2)

SheillaKemboi

In [9]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [10]:
print(name1 + sum)

TypeError: can only concatenate str (not "int") to str

In [11]:
_

''

In [12]:
50 / 8

6.25

In [13]:
_

6.25

# Boolean Datatypes

In [ ]:
num1 = True
num2 = True
num3 = False

In [14]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [15]:
print(bool1 and bool2)

NameError: name 'bool1' is not defined

In [16]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [17]:
print(type(num1))

<class 'int'>

In [18]:
a = True
print(a)

True

In [19]:
b = True
c = False

d = a and c
e = a or c

print(a)
print(b)
print(c)
print(d)
print(e)

True
True
False
False
True

In [ ]:
a = 3.8
b = 3

In [20]:
print(a == b)

True

In [21]:
print(a < b)

False

In [22]:
print(a > b)

False

In [23]:
print(a <= b)

True

In [24]:
print(a >= b)

True

In [25]:
True or False and True

True

In [26]:
True and False or True

True

In [27]:
False or False and True

False

In [28]:
False and True or False

False

In [29]:
True or False and False

True

In [30]:
print((not(2 != 3) and True) or (False and True))

False

# Useful Functions

## round() function

In [31]:
round(4.7)

5

In [32]:
round(4.1)

4

In [33]:
round(4.55843)

5

In [34]:
round(4.55843,3)

4.558

In [35]:
round(4.55843,1)

4.6

## divmod(x, y) function

In [37]:
print(divmod(27, 5))

(5, 2)

In [38]:
x = print(divmod(34, 7))

(4, 6)

In [39]:
x[0]

TypeError: 'NoneType' object is not subscriptable

In [40]:
y = divmod(44, 6)

In [41]:
print(y)

(7, 2)

In [42]:
y[0]

7

In [43]:
y[1]

2

In [44]:
y[4]

IndexError: tuple index out of range

## isinstance() function

In [47]:
isinstance(3, int)

True

In [48]:
isinstance(3.4, int)

False

In [49]:
isinstance(3, float)

False

In [50]:
isinstance(2 + 3j, (int, float, str, complex))

True

## pow() function

In [51]:
# pow(x, y, z) => x pow y modulus z

pow(2, 4, 7)

2

## input() function

In [52]:
num = input("Enter a number :: ")

Enter a number :: 345

In [53]:
type(num)

str

In [54]:
int(num)

345

In [55]:
type(num)

str

In [56]:
num2 = int(input("Enter a number :: "))

Enter a number :: 45

In [57]:
type(num)

str

In [58]:
type(num2)

int

In [62]:
type(num2)

int

# Statements

## if condition

In [65]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))

if a > b:
    print("a = ", a)
    print(a , " is greater than ", b)

Enter a number : 45
Enter a number : 7
a =  45
45  is greater than  7

## if else condition

In [66]:
a = int(input("Enter value 1 :: "))
b = int(input("Enter value 2 :: "))

if a < b:
    print("Hey beautiful, you're too young to vote !")
else:
    print("Eligible age to vote , Go ahead !")

Enter value 1 :: 23
Enter value 2 :: 45
Hey beautiful, you're too young to vote !

## nested if condition

In [67]:
age = 18
a = int(input("Age 1 = "))
b = int(input("Age 2 = "))

if a < age:
    print("Younger than required age")
elif a > age:
    print("Older than required age")
else:
    print("Required age")
    
    
if b < age:
    print("Younger than required age")
elif b > age:
    print("Older than required age")
else:
    print("Required age")

Age 1 = 45
Age 2 = 2
Older than required age
Younger than required age

# Loops

## while loop

In [ ]:
n = int(input("Enter the no. of iterations :: "))

i = 1

while i <= n:
    print(i, end = " ")
    i += 1

In [ ]:
while i <= n:
    
    if i % 2 == 0:
        print(i, " = Even")
    else:
        print(i, " = Odd")
        
    i += 1

In [ ]:
n = int(input("Number of iterations :: "))
i = 1 

while i <= n:
    
    if i % 2 == 0:
        print(i, " = Even")
    else:
        print(i, " = Odd")
        
    i += 1

## for loop

In [ ]:
list = [2, 45, 67, 8, 24, 90, 56, 4, 12, 50]

for i in range(10):
#     print(i ** 2)
    List.append(i ** 2)
    
print(list)

In [ ]:
sum = 2 + 3
print(sum)