# Displaying Hello World

In [1]:
print("Hello World !")

Hello World !

# Variables And Operators

In [3]:
num1 = 34
num2 = 78
sum = num1 + num2
num1 = 67
print(num1)
print(num2)
print(sum)

%whos

67
78
112
Variable   Type    Data/Info
----------------------------
num1       int     67
num2       int     78
sum        int     112

In [4]:
print typeof(sum)

SyntaxError: invalid syntax (Temp/ipykernel_344/1575650200.py, line 1)

In [5]:
print ( type(sum))

<class 'int'>

In [6]:
name1 = "Sheilla"
name2 = "Kemboi"

print(name1 + name2)

SheillaKemboi

In [7]:
print(name1 , " ", + , " " , name2)

SyntaxError: invalid syntax (Temp/ipykernel_344/3004786597.py, line 1)

In [8]:
print(name1 + name2)

SheillaKemboi

In [9]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [10]:
print(name1 + sum)

TypeError: can only concatenate str (not "int") to str

In [11]:
_

''

In [5]:
10/3

3.3333333333333335

In [6]:
_

3.3333333333333335

# Boolean Datatypes

In [ ]:
num1 = True
num2 = True
num3 = False

In [14]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [15]:
print(bool1 and bool2)

NameError: name 'bool1' is not defined

In [16]:
%whos

Variable   Type    Data/Info
----------------------------
name1      str     Sheilla
name2      str     Kemboi
num1       int     67
num2       int     78
sum        int     112

In [17]:
print(type(num1))

<class 'int'>

In [18]:
a = True
print(a)

True

In [19]:
b = True
c = False

d = a and c
e = a or c

print(a)
print(b)
print(c)
print(d)
print(e)

True
True
False
False
True

In [ ]:
a = 3.8
b = 3

In [20]:
print(a == b)

True

In [21]:
print(a < b)

False

In [22]:
print(a > b)

False

In [23]:
print(a <= b)

True

In [24]:
print(a >= b)

True

In [25]:
True or False and True

True

In [26]:
True and False or True

True

In [27]:
False or False and True

False

In [28]:
False and True or False

False

In [29]:
True or False and False

True

In [30]:
print((not(2 != 3) and True) or (False and True))

False

# Useful Functions

## round() function

In [31]:
round(4.7)

5

In [32]:
round(4.1)

4

In [33]:
round(4.55843)

5

In [34]:
round(4.55843,3)

4.558

In [35]:
round(4.55843,1)

4.6

## divmod(x, y) function

In [7]:
print(divmod(10, 3))

(3, 1)

In [38]:
x = print(divmod(34, 7))

(4, 6)

In [39]:
x[0]

TypeError: 'NoneType' object is not subscriptable

In [8]:
type(divmod(44, 6))

tuple

In [41]:
print(y)

(7, 2)

In [42]:
y[0]

7

In [43]:
y[1]

2

In [44]:
y[4]

IndexError: tuple index out of range

## isinstance() function

In [47]:
isinstance(3, int)

True

In [48]:
isinstance(3.4, int)

False

In [49]:
isinstance(3, float)

False

In [11]:
isinstance(2 + 3j, (int, float, str, complex))

True

## pow() function

In [51]:
# pow(x, y, z) => x pow y modulus z

pow(2, 4, 7)

2

## input() function

In [13]:
num = input("Enter a number :: ")
print('Number is:',num)

Enter a number :: 55
Number is: 55

In [15]:
num2=input("enter value 1:")
num3=input("enter value 3:")
sum= int(num2)+int(num3)
print(sum)

enter value 1:19
enter value 3:12
31

In [53]:
type(num)

str

In [54]:
int(num)

345

In [55]:
type(num)

str

In [56]:
num2 = int(input("Enter a number :: "))

Enter a number :: 45

In [57]:
type(num)

str

In [58]:
type(num2)

int

In [62]:
type(num2)

int

# Statements

## if condition

In [17]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))

if a>b:
    print(a,'is greater')
else:
    print(b,'is greater')

Enter a number : 7
Enter a number : 9
9 is greater

## if else condition

In [66]:
a = int(input("Enter value 1 :: "))
b = int(input("Enter value 2 :: "))

if a < b:
    print("Hey beautiful, you're too young to vote !")
else:
    print("Eligible age to vote , Go ahead !")

Enter value 1 :: 23
Enter value 2 :: 45
Hey beautiful, you're too young to vote !

## nested if condition

In [19]:
age = 18
a = int(input("Age 1 = "))
b = int(input("Age 2 = "))

if a < age:
    print("Younger than required age")
elif a > age:
    print("Older than required age")
else:
    print("Required age")
    
    
if b < age:
    print("Younger than required age")
elif b > age:
    print("Older than required age")
else:
    print("Required age")

Age 1 = 18
Age 2 = 1
Required age
Younger than required age

# Loops

## while loop

In [83]:
n = int(input("Enter the no. of iterations :: "))

i = 1

while i <= n:
    print(i, end = " ")
    i += 1

Enter the no. of iterations :: 2
1 2

In [24]:
n=5
while n<10:
    print(n)
    n+=1

5
6
7
8
9

In [25]:
n = int(input("Number of iterations :: "))
i = 1 

while i <= n:
    
    if i % 2 == 0:
        print(i, " = Even")
    else:
        print(i, " = Odd")
        
    i += 1

Number of iterations :: 5
1  = Odd
2  = Even
3  = Odd
4  = Even
5  = Odd

## for loop

In [28]:
even=list(range(0,20,2))
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
list = []

for i in range(0, 20, 2):
#     print(i, end = " ")
    list.append(i ** 2)
    
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [94]:
set = {"cherry", "pine", "orange", 9, 6, 34}

for i in set:
    print(i , end = " ")
else:
    print("\n\nEnd of loop")

34 cherry pine 6 orange 9

End of loop

In [96]:
dict = {"apple":22 , "cherry":45, "pine":12, "orange":90}

for i in dict:
    #print the key = i as well as the value of that key = dict[i]
    print(i, dict[i])

apple 22
cherry 45
pine 12
orange 90

##### Given a list of numbers [1, 2, 4, -5, 7, 9, 3, 2] => make an ascending list [-5, 1, 2,2, 3, 3, 3, 7, 9]

In [104]:
list = [1, 2, 4, -5, 7, 9, 3, 2]
for j in range(len(list)):

    min = list[j]
    min_index = j
    c = j

    for i in range(j, len(list)):
        if list[i] < min:
            min = list[i]
            min_index = c
        c += 1

    temp = list[j]
    list[j] = min
    list[min_index] = temp

print(list)

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [29]:
def printMsg(msg):
    """The function prints a string message entered by user"""
    if isinstance(msg, str):
        print(msg)
    else:
        print("The input is not a string")
printMsg.__doc__

'The function prints a string message entered by user'

In [122]:
message = "Sheilla"

printMsg(message)

Sheilla

In [123]:
printMsg("Sheilla")

Sheilla

In [124]:
printMsg(45)

The input is not a string

In [30]:
def func(a, b, c):
    pass
    
a = 36
b = 90
c = 34

func(a, b, c)

In [126]:
def total(x, y):
    sum = x + y
    return sum

In [128]:
value = total(56, 67)
print(value)

123

### functions with many parameters

In [137]:
def power_function(*args):
    power = 0
    for i in  range(len(args)):
        power = args[i] ** 2
        print(power, end = " ")

In [138]:
power_function(2, 4, 6, 8)

4 16 36 64

### functions with keys

In [142]:
def my_function(**args):
    for i in args:
        print("Variable Name :: ", i, " Value :: ", args[i])
        
        
my_function(a = 3, b = "B", c = 45, d = 89)

Variable Name ::  a  Value ::  3
Variable Name ::  b  Value ::  B
Variable Name ::  c  Value ::  45
Variable Name ::  d  Value ::  89

# Modules

In [143]:
#Python files containing codes that can be imported as a package for use
#It contains functions that are repeatedly used

#You have to specify the path where that specific module lies = use sys

In [144]:
import sys
sys.path.append('S:/MODULES/')
import Modules

In [146]:
Modules.addAllNumbers(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [147]:
Modules.hello()

Hello World!

In [155]:
Modules.isNotNumeric(1, 5, 7)

NameError: name 'x' is not defined


# Functions

### Function to Find Minimum Value

In [5]:
# Finding the minimum

def findMin(list):
    min = list[0]
    index = 0
    j = 0
    for i in list:
        if i < min:
            min = i
            index = j
        else:
            pass
        j += 1
        
    return min, index

In [6]:
minValue, position = findMin([3, 78, 90, 56, 1, 5])

In [7]:
print(minValue, position)

1 4

### Function To Swap Numbers